
# import & export object
import.tlv.encoder=default
import.http.sendhelper=default
import.busyhandler=default

#event define
event.log.response = com.skymobi.event.app.log.response
log.timeout = 30000

biz.name=auth

#business fsm's parameter
fsm.id = 2
fsm.executorPoolSizeLimit = 10
fsm.checkBusy  =true
fsm.busyThreshold = 100
fsm.received.events = event.app.xip.auth,event.app.tlv.auth,${event.log.response},event.service.resp.auth
